<!-- py means padding of y axis, means bottom and top -->
<!-- mt-auto means margin top auto,sits at bottom when content gets over and doesn't stick -->
<footer class="footer bg-dark py-3 mt-auto">
  <div class="conatiner">
    <span class="text-secondary">&copy; CampScape 2024</span>
  </div>
</footer>