<% layout('layouts/boilerplate')%>
  <h1>Edit your campground</h1>

  <form action="/campgrounds/<%=camp._id%>?_method=PUT" method="POST">
    <div>
      <label for="titles">Title</label>
      <input type="text" id="title" name="campground[title]" value="<%=camp.title%>">
    </div>

    <div>
      <label for="location">Location</label>
      <input type="text" id="location" name="campground[location]" value="<%=camp.location%>">
    </div>
    <button>SAVE</button>
  </form>
  <hr>
  <a href="/campgrounds/<%=camp._id%>">Back To Campground</a>
  
  <form></form>
